.message {
    width: 100%;
    padding: 1em;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 5px;
}

.succes {
    color: #155724;
    background-color: #D4EDDA;
    border-color: #C3E6CB;
}

.error {
    color: #721C24;
    background-color: #F8D7DA;
    border-color: #F5C6CB;
}